tensorflow-cpu==2.16.1
numpy==1.24.0
opencv-python-headless==4.9.0.80
scikit-learn==1.7.0
matplotlib==3.8.2
flask==3.0.2
flask-cors==4.0.0
werkzeug==3.0.1
pillow==10.1.0
gunicorn==21.2.0
setuptools==68.2.2
waitress==3.0.0